:root {
  --primary: #42ac94;
  --primary-lighter: #6dc4b0;
  --text-color: #ffffff;
  --text-color-secondary: #ffffffb6;
  --text-color-thirdly: #ffffff5b;
  --background: #0f3253;
  --background-darker: #0a2340;
  --background-lighter: #1a4570;
  --background-50: #0f325380;
  --bg-shadow-color: #071628;
  --fg-shadow-color: #42ac94;
  --primary-transparent: #42ac9430;

  // Action Colors
  --info: #495bc2;
  --success: #42ac94;
  --warning: #f6f000;
  --error: #fca016;
  --danger: #a9539a;
  --neutral: #1a4570;
}

html[data-theme="light"] {
  --primary: #42ac94;
  --primary-lighter: #6dc4b0;
  --text-color: #0f3253;
  --text-color-secondary: #495bc2;
  --background: #ffffff;
  --background-darker: #f0f4f8;
  --background-lighter: #fafafa;
  --bg-shadow-color: #e0e0e0;
  --fg-shadow-color: #42ac94;
  --primary-transparent: #42ac9433;
}
